*
{
	margin: 0;
	border: 0;
	padding: 0;
}

#nav-banner
{
	top: 0px;
	left: 0px;
	
	background-color: rgba(0, 0, 0, .6);
	height: 50px;	
	width: 100%;
	position: fixed;
	z-index: 1000;
}

nav
{
	margin-top: -15px;	
}

nav form
{
	margin-top: -40px;
	margin-right: 3%;
	float: right;
}

nav form input
{
	width: 100px;
	padding: 5px;
	height: 20px;	
	margin-right: 10px;
}


nav ul
{
	list-style-type: none;
	margin-left: 30%;
	margin-top: -60px;


}
ul
{
	list-style-type: none;
}
nav ul li
{
	display: inline-block;
	padding: 20px;

}

nav li a
{
}
nav li a:hover
{
	color: lightblue;
}

nav #file_drop_menu_bar
{
	color: white;
	border: 1px dashed white;
	width: 200px;
	height: 38px;
	float: right;
	margin-top: -50px;
	margin-right: 10%;
	display: none;
}

a
{
	color: white;
	text-decoration: none;
	padding: 5 10 10 5;
}

body
{
	background-image:url('../images/jon@mytrive_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: darkgrey;
	color: black;
}

#content
{
	border-style: none solid none solid;
	background-color: white;
	color: grey;
	border-width: 1px;
	margin-right: 10%;
	margin-left: 10%;
	height: 100%;
	margin-top: 50px;
	padding: 10px;
	float: left;
}



#profile_content
{
	width: 30%;
	word-wrap: break-word;
	float: left;
}
#content a
{
	color: lightblue;
}

#profile_picture img
{
	/*nothing here yet*/
		
}



#file_drop
{
	width: 50%;
    height:100px;
    line-height:100px;
    border:3px dashed #CCC;

    font-family:Verdana;
    text-align:center;
  	float: right;
  	margin-right:15%;

}

#file_content
{
	padding-top: 10px;
	width: 70%;
	float: right;
	height: 50%;
	-webkit-column-count: 2;
}


/*
#file_content img
{
	width: 40%;
	height: 40%;
} */ 

#file_content ul
{
	list-style:none;	

}
#file_content li
{
	display: inline;
}



#file_information
{
	width: 150px;
	background-color: rgba(0, 0, 0, .8);
	color: black;
	display: none;
	position: fixed;
	text-align: center;
	
	/*Round top corners*/
	-webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	
	-webkit-border-top-right-radius: 5px;
	-khtml-border-radius-topright: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;	
	
	
	/*Bottom-left-corner*/
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-radius-bottomleft: 5px;	
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	/*Bottom-right-corner*/
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-radius-bottomright: 5px;	
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;


}

#friend_files
{
	padding-top: 10px;
	width: 70%;
	float: right;
	height: 50%;
}

#upload
{
	padding-top: 10px;
	width: 70%;
	float: right;
	height: 50%;
}

#friend_content
{
	width: 70%;
	float: right;
	padding-top: 20px;
}
#upload img
{
	width: 20%;
	height: 20%;
}

#friend_files img
{
	width: 20%;
	height: 20%;
}
#friend_content img
{
	width: 20%;
	height: 20%;
}

#filters
{
	background-color: rgba(0, 0, 0, .6);
	color: white;
	float: right;
	top: 60px;
	right: 0px;
	position: fixed;
	height: 150px;
	width: 100px;
	text-align: center;
	padding-top: 5px;
}

#filters_menu
{
	background-color: rgba(0, 0, 0, .6);
	color: white;
	float: right;
	top: 60px;
	right: 0px;
	position: fixed;
	height: 150px;
	width: 100px;
	text-align: center;
	padding-top: 5px;
}

#filters input
{
	width: 90px;
}


/*Media Queries below for nice responsive design stuffs*/
/*
@media screen {
	body {
		width: 100%;
		
	}
	nav#small
	{
		display: none;	
	}
}

@media all and  (max-width: 1250px) and (min-width: 975px)
{
	nav#small
	{
		display: none;	
	}
}

@media all and (max-width: 975px) and (min-width: 780px)
{
	nav#small
	{
		display: none;	
	}
}

@media all and (max-width: 780px) and (min-width: 500px)
{
	nav ul{
		display: none;
	}
	nav form
	{
		display: none;
	}
	nav#small
	{
		color: black;
		display: block;
		
	}
	
	nav#small a
	{
		color: black;
	}
	nav#small a:hover
	{
		color: lightblue;
	}
	nav#small form
	{
		display: block;
		margin-top: 50px;
		
	}
	nav#small form input
	{
		width: 100px;
		padding: 5px;
		height: 20px;	
		margin-right: 10px;
		border: 1px solid black;
	}
}

@media all and (max-width: 500px)
{
	section#info li:hover
	{
		width: 200px;
	}
	nav ul{
		display: none;
	}
	nav form
	{
		display: none;
	}
	nav#small
	{
		color: black;
		display: block;
		
	}
	
	nav#small a
	{
		color: black;
	}
	nav#small a:hover
	{
		color: lightblue;
	}
	nav#small form
	{
		display: block;
		margin-top: 10px;
		
	}
	nav#small form input
	{
		width: 100px;
		padding: 5px;
		height: 20px;	
		margin-right: 10px;
		border: 1px solid black;
	}
}

*/s