*
{
	margin: 0;
	border: 0;
	padding: 0;
}

#nav-banner
{
	top: 0px;
	left: 0px;
	
	background-color: rgba(0, 0, 0, .6);
	height: 50px;	
	width: 100%;
	position: fixed;
}

nav
{
	margin-top: -15px;	
}

a
{
	color: white;
	text-decoration: none;
	padding: 5 10 10 5;
}

body
{
	background: black url(../images/redesign_background.jpg) no-repeat center top;
}

nav form
{
	margin-top: -40px;
	margin-right: 3%;
}

nav input
{
	width: 100px;
	padding: 5px;
	height: 20px;	
	float: right;
	margin-right: 10px;
}


nav ul
{
	list-style-type: none;
	margin-left: 30%;
	margin-top: -60px;


}
nav ul li
{
	display: inline-block;
	padding: 20px;

}

nav li a
{
}
nav li a:hover
{
	color: lightblue;
}

section label
{
	display: block;
	text-align: center;
	margin: auto;
	color: white;
}

section input
{
	display: block;
	width: 75%;
	padding: 5px 5px 5px 5px;
	height: 35px;
	text-align: center;
	margin: auto;
	
		
	-webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	/*Rount top right corner*/
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;	
	/*Bottom-left-corner*/
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	/*Bottom-right-corner*/
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;

	
}

section
{

	background-color: rgba(0, 0, 0, .6);
	width: 300px;
	margin-right: 20%;
	margin-top: 200px;
	padding: 10 10 10 10;
	
	float: right;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	/*Rount top right corner*/
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;	
	/*Bottom-left-corner*/
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	/*Bottom-right-corner*/
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}


@media screen {
	body {
		width: 100%;
		
	}
}
@media all and(max-width: 800px) and (min-width: 600px)
{
	nav ul{
		margin-left: 20%;
	}

}

@media all and (max-width: 600px) and (min-width: 400px)
{
	/*body{
		background: pink;
	}
	*/
	nav ul{
		display: none;
	}
	section
	{
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}
	
	
}


