*
{
	margin: 0;
	border: 0;
	padding: 0;
}

#nav-banner
{
	top: 0px;
	left: 0px;
	
	background-color: rgba(0, 0, 0, .6);
	height: 50px;	
	width: 100%;
	position: fixed;
}

nav
{
	margin-top: -15px;	
}

a
{
	color: white;
	text-decoration: none;
	padding: 5 10 10 5;
}

body
{
	/*background: url(../images/redesign_background.jpg) no-repeat center top, -webkit-linear-gradient(rgba(7,11,34,0.92) 60.93%, #0a1c3d 100%);*/
	background: url(../images/redesign_background.jpg) no-repeat center top, black;
	-webkit-background-size: cover;
	background-size: 100% auto;

}

nav form
{
	margin-top: -40px;
	margin-right: 3%;
	float: right;
}

nav form input
{
	width: 100px;
	padding: 5px;
	height: 20px;	
	float: right;
	margin-right: 10px;
}


nav ul
{
	list-style-type: none;
	margin-left: 30%;
	margin-top: -60px;


}
nav ul li
{
	display: inline-block;
	padding: 20px;

}

nav li a
{
}
nav li a:hover
{
	color: lightblue;
}

section label
{
	display: block;
	text-align: center;
	margin: auto;
	color: white;
}

section input
{
	display: block;
	width: 75%;
	padding: 5px 5px 5px 5px;
	height: 35px;
	text-align: center;
	margin: auto;
	
		
	-webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	/*Rount top right corner*/
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;	
	/*Bottom-left-corner*/
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	/*Bottom-right-corner*/
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;

	
}

section
{

	background-color: rgba(0, 0, 0, .6);
	width: 300px;
	margin-right: 20%;
	margin-top: -800px;
	padding: 10 10 10 10;
	
	float: right;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	/*Rount top right corner*/
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;	
	/*Bottom-left-corner*/
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	/*Bottom-right-corner*/
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}


article
{
	/*padding-top: 1000px;
	padding-bottom: 500px;*/
	margin-top: 1000px;
	margin-bottom: 500px;
	margin-right: 30%;
	margin-left: 30%;
	color: white;
}

article p
{
	text-align: justify;
}



/*price table stuffs here*/


.pricing_table {
	width: 600px; 
	color: #fff;
	font-size: 12px;
	font-family: arial, verdana;
	line-height: 150%;
	text-align: center;
	margin: 100px auto 0 auto;
	float: left;
	margin-top: -800px;
	margin-left: 5%;
}
/*Only the direct LI child, not the .features li*/
.pricing_table>li {
	background-color: rgba(0, 0, 0, .6);
	width: 33.33%;
	float: left;
	list-style-type: none;
	/*For smooth hover effects if .active is replaced by :hover*/
	transition: all 0.2s;
}
.pricing_table>li.active {
	background-color: rgba(25, 81, 149, 0.8);
	transform: scale(1.03);
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}
.pricing_table h3 {
	text-transform: uppercase;
	padding: 15px 0;
	font-size: 14px;
	font-weight: bold;
}
.pricing_table .price_body {
	width: 125px;
	height: 125px;
	margin: 0 auto 15px auto;
	border: 2px solid #fff;
	border-radius: 100%;
	display: table;
}
.pricing_table .price {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	/*Lets vertically center align the price now*/
	vertical-align: middle;
	display: table-cell;
}
.pricing_table .price .price_figure {
	display: block;
}
.pricing_table .price .price_term {
	font-size: 11px;
	font-weight: normal;
}

.pricing_table .features li {
	list-style-type: none;
	padding: 5px 0;
}

.pricing_table .footer {
	padding: 10px;
	background-color: rgba(0, 0, 0, .6);
	margin-top: 10px;
}
.pricing_table .footer .action_button{
	color: #fff;
	font-size: 11px;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	background: #000;
	padding: 4px 20px;
	border-radius: 15px;
	background-color: rgba(25, 81, 149, 0.6);
}
.pricing_table li.active .footer .action_button {
	background-color: rgba(25, 81, 149, 0.6);
}

.clr {clear: both;}









/*Media Queries below for nice responsive design stuffs*/
@media screen {
	body {
		width: 100%;
		
	}
}

@media all and  (max-width: 1250px) and (min-width: 975px)
{
	.pricing_table
	{
		/*margin-top: -400px;*/
		width: 400px;
	}
}

@media all and (max-width: 975px) and (min-width: 500px)
{
	body{
		background: black;
	}
	nav ul{
		display: none;
	}
	section
	{
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}
	
	article
	{
		margin-right: 5%;
		margin-left: 5%;	
	}
	.pricing_table
	{
		width: 800px;
		margin-top: -400px;

	}
}

@media all and (max-width: 500px)
{
	body{
		background: black;
	}
	nav ul{
		display: none;
	}
	section
	{
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}
	article
	{
		margin-right: 5%;
		margin-left: 5%;
	}
	.pricing_table
	{
		width: 400px;
		margin-top: -400px;

	}
	.pricing_table .price_body 
	{
		border: 0px solid #fff;
	}
}


